# dependencies
node_modules/

# environment variables
.env

# uploads (optional – agar images/video store ho rahe hain)
uploads/

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build (agar future me add ho)
dist/
build/
